/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #A9A9A9;
  margin:0;
  padding:0;
}
/* Logo and Nav css section*/

header {
  background:#333;
  display: flex;
  justify-content: space-between;
}

.logo {
  color:#FFFFFF;
  margin-top: 1.25em;
  margin-left: 1.25em;
}

nav {
  display: none;
  flex-direction: column;

}

nav a {
  padding: 1.25em 2em;
  color: #FFFFFF;
  text-decoration: none;
  display:inline-block;
}

nav a:hover {
  color:#B8860B;
}

.navbar {
  background:#555;
  line-height: 2em;
  text-align: right;
  color:#039;
  font-size: 20px;
  font-weight: bold;
 }

.navbar-toggle {
  display: flex;
}

*{
  box-sizing: border-box;
  margin:0;
}
/* End of Logo and Nav css section*/

/*Logo home content css section*/
section {
  display:flex;
  justify-content: space-between;
  padding-bottom: 300px;
}

.logo-home-content{
  padding-left: 20px;
  padding-top: 50px;
}

.logo-home .logo-home-content h6{
  color:#FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.logo-home .logo-home-content h1{
  color:#FFFFFF;
  font-size: 70px;
  font-weight: 600;
}

.logo-home .logo-home-content h3{
  color:#0000FF;
  font-size: 30px;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  padding-right: 10px;
  width: 50%;
  float: right;
}

/*End of Logo home content css section*/


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  nav {
     display:flex;
     flex-direction: row;
   }

  body {
    background: #cfc;
  }

  .navbar {
    display: none;
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  nav {
      flex-direction: row;
    }

  body {
    background: #ccf;
  }
}
