/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #A9A9A9;
  margin:0;
  padding:0;
}
/* Logo and Nav css section*/

header {
  background:#333;
  display: flex;
  justify-content: space-between;
}

.logo {
  color:#FFFFFF;
  margin-top: 1.25em;
  margin-left: 1.25em;
}

nav {
  display: none;
  flex-direction: column;

}

nav a {
  padding: 1.25em 2em;
  color: #FFFFFF;
  text-decoration: none;
  display:inline-block;
}

nav a:hover {
  color:#B8860B;
}

.navbar {
  background:#555;
  line-height: 2em;
  text-align: right;
  color:#039;
  font-size: 20px;
  font-weight: bold;
 }

.navbar-toggle {
  display: flex;
}

*{
  box-sizing: border-box;
  margin:0;
}
/* End of Logo and Nav css section*/

/*Logo home content css section*/
section {
  display:flex;
  justify-content: space-between;
  padding-bottom: 200px;
}

.logo-home-content{
  padding-left: 80px;
  padding-top: 80px;
}

.logo-home .logo-home-content h6{
  color:#FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.logo-home .logo-home-content h1{
  color:#FFFFFF;
  font-size: 70px;
  font-weight: 600;
}

.logo-home .logo-home-content h3{
  color:#0000FF;
  font-size: 30px;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-right: 10px;
  width: 50%;
  float: right;
}

/*End of Logo home content css section*/

/* Start of Personal Profile css*/

.Personal-Profile {
  padding: 100px 20px;
  color:#FFFFFF;
}

.Personal-Profile-content img {
  float: left;

}

.Personal-Profile-content h1 {
  margin:0;
  position: relative;
}

.Personal-Profile-content h1::before {
    content:'';
    left: 0px;
    position:absolute;
    height: 2px;
    right: 80%;
    background-color: #48D1CC;
    bottom: -2px;
}

/* End of Personal Profile css*/

/* Start of Education CSS*/
.Education {
  padding: 100px 20px;
  color:#FFFFFF;
}

.Education-content {
  column-count:2;
  column-gap: 40px;
}

.Education-content h1 {
  margin:0;
  position: relative;
}

.Education-content h1::before {
    content:'';
    left: 0px;
    position:absolute;
    height: 2px;
    right: 80%;
    background-color: #48D1CC;
    bottom: -2px;
}
/* End of Education CSS*/

/* Start of Work Experience CSS*/
.Work-Experience {
  padding: 100px 20px;
  color:#FFFFFF;
}

.Work-Experience-heading h1 {
  margin:0;
  position: relative;

}

.Work-Experience-heading h1::before {
    content:'';
    left: 0px;
    position:absolute;
    height: 2px;
    right: 80%;
    background-color: #48D1CC;
    bottom: -2px;
}

.timeperiod {
  padding: 40px 100px;
}

.timeperiod ul {
  border-left: 4px solid #FF8C00;
  border-radius: 0.2em;
  margin: 0 auto;
  position: relative;
  padding: 5em;
  list-style: none;
  text-align: center;
  width: 60%;
}

.timeperiod h3 {
  margin-bottom: 1em;
}

.timeperiod .date {
  position: relative;
  margin-bottom: 1em;

}

.timeperiod .date::before,
.timeperiod .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeperiod .date::before {
  content: attr(date-period);
  left: -19em;
  text-align: right;
  min-width: 12em;
  font-size: 1em;
}

.timeperiod .date::after {
  content:'';
  box-shadow: 0 0 0 2px #8A2BE2;
  border-radius: 100%;
  left: -5.6em;
  height: 1em;
  width: 1em;
  background-color: #00FFFF;
}
/* End of Work Experience CSS*/

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  nav {
     display:flex;
     flex-direction: row;
   }

  body {
    background: #000000;
  }

  .navbar {
    display: none;
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  nav {
      flex-direction: row;
    }


}
