/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
  margin:0;
  padding:0;
}

.logo {
  position:absolute;
  color:white;
  margin-top: 1.25em;
  margin-left: 1.25em;
}


nav {
  display: flex;
  justify-content: center;
  background:#333;
  flex-direction: column;

}

nav a {
  padding: 1.25em 1.5em;
  color: white;
  text-decoration: none;
  display:inline-block;
}

 .navbar {
   background:white;
   line-height: 2em;
   color:#039;
 }

.nav-toggle {
  display:flex;
}

*{
  box-sizing: border-box;
  margin:0;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  nav {
     display:flex;
     flex-direction: row;
   }

  body {
    background: #cfc;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  nav {
      flex-direction: row;
    }

  body {
    background: #ccf;
  }
}
